body{
  text-align: center;
}
button{
  background-color: red;
}
a{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 2px;
}
a:hover{
  background-color: lightgray;
  text-decoration: none;
}
