body{
  text-align: center;
  background-color: black;
  color: white;
}
a{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 2px;
}
a:hover{
  background-color: lightgray;
  text-decoration: none;
}
.panel{
  background-color: #535353;
  padding: 10px;
}
img{
  width: 245px;
}
h1{
    margin-bottom: 35px;
}
